name: "Code Checks"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  common-code-checks:
    name: Common Code Checks
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
      pull-requests: write # Allow the workflow to create and modify pull request comments
      security-events: write # Allow the workflow to upload analysis results
    uses: JackPlowman/reusable-workflows/.github/workflows/common-code-checks.yml@53ec3305b882378b1be900dd62ac8d5957fa6106 # v2025.11.15.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}

  codeql-checks:
    name: CodeQL Analysis
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
    strategy:
      matrix:
        language: [actions, go]
    uses: JackPlowman/reusable-workflows/.github/workflows/codeql-analysis.yml@53ec3305b882378b1be900dd62ac8d5957fa6106 # v2025.11.15.01
    with:
      language: ${{ matrix.language }}

  run-go-format-and-lint-checks:
    name: Run Go Format and Lint Checks
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # Allow the workflow to create and modify pull request comments
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Go dependencies
        uses: ./.github/actions/setup-go-dependencies
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.4.0

  run-go-dependency-vulnerability-checks:
    name: Run Go Dependency Vulnerability Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Go dependencies
        uses: ./.github/actions/setup-go-dependencies
      - name: Install Go Vulnerability Checker
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run Go Vulnerability Checker
        run: just vulncheck

  go-build:
    name: Go Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Go dependencies
        uses: ./.github/actions/setup-go-dependencies
      - name: Build
        run: just build

  go-dependency-submission:
    name: Go Dependency Submission
    runs-on: ubuntu-latest
    permissions:
      contents: write # Allow the workflow to create and modify repository contents
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Go dependencies
        uses: ./.github/actions/setup-go-dependencies
      - name: Run snapshot action
        uses: actions/go-dependency-submission@f35d5c9af13ce9cc32f7930b171e315e878f6921 # v2.0.3
        with:
          go-mod-path: go.mod
